.card {
  background-color: #1a1a1a;
  border: 1px solid #464646;
  border-radius: 3px;
}

.card-image {
  margin-top: 20px;
}

.card-image img {
  object-fit: contain;
}

.title {
  color: #fff;
}

.card-content {
  color: #fff;
}
